<section class="o-calendar">
    {{ render '@calendar-header' }}
    {{ render '@calendar-table-header' }}
    {{ render '@calendar-table-body' }}
    {{ render '@calendar-registration-overview' }}
</section>