<div class="m-calendar-registration-overview">

    {{#each items}}
        <div class="m-calendar-registration-overview__item {{ modifier }}">
            {{ this.label }}
            <strong>{{ this.value }}</strong>
        </div>
    {{/each}}

</div>