<div class="m-calendar-header">
    {{> @link text="Gå til forrige måned" class="m-calendar-header__navigation" modifier="m-calendar-header__navigation--prev" }}

    {{> @title text="marts" class="m-calendar-header__title" }}

    {{> @link text="Gå til næste måned" class="m-calendar-header__navigation" modifier="m-calendar-header__navigation--next" }}
</div>