<div class="amount">
    {{> @button counterMinus modifier="amount__button amount__button--minus"}}
    {{> @input modifier="amount__input" value="1" type="number"}}
    {{> @button counterPlus modifier="amount__button amount__button--plus"}}
</div>

        



