 <div class="row">
     <div class="col-xs-12 col-sm-6">
        {{> '@image' niceImage modifier="image--cool"}}  
     </div>
     <div class="col-xs-12 col-sm-6">
        {{render '@description'}}   
        {{render '@product-price'}}   
        {{ render '@form-field--counter'}} 
        {{render '@button--icon'}}
     </div>
 </div>
                     


               
