 <div class="row">
     <div class="col-xs-12 col-sm-6">
        {{> '@image' niceImage modifier="image--cool"}}  
     </div>
     <div class="col-xs-12 col-sm-6">
        {{ render '@description'}}   
        {{ render '@price-label'}} 
        {{ render '@counter'}} 
     </div>
 </div>
                     


               
