
/*
 * Element: Counter bullet
 */

/*Setting document variables*/
:root{
	--link-color: var(--color-primary);
	--link-font-family: var(--base-font-family);
}

/*Bullet style*/
.counter__bullet {
    color: green;
    border-radius: 50%;    
}

